/* ----Responsive Design----- /

@media (max-width: 767px)
.test {
  padding: 15px 32px;
  margin: 4px 2px;
}

.px-5 {
  padding-left: 9px;
  padding: 15px 32px;
  margin: 150px 2px;
}

.widthh {
  max-width: 100%;
}


@media screen and (max-width: 425px) {
    /---------------FONTS-------------/

    .imgg {
      width: 200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .bg-orange {
      background-color: #e67b13;
    }

    .bg-black {
      background-color: #1d2228
    }

    .px-5 {
      padding-left: 40px;
      padding: 15rem 32px;
      margin: 15rem 2px;
    }

    .u-section-2 {
      position: relative;
      top: 20px;
    }

    .widthh {
      max-width: 100%;
    }

    .sm-text-xs {
      font-size: 0.75rem; / 12px /
      line-height: 1rem; / 16px /
    }
    / #desktop {
      display: none;
    } /

    / ---------Flex------------------ /

    .sm-flex {
      display: flex;
    }
    .sm-justify-between {
      justify-content: space-between;
    }
    .sm-justify-center {
      justify-content: center;
    }
    .sm-justify-end {
      justify-content: flex-end;
    }
    .sm-justify-around {
      justify-content: space-around;
    }
    .sm-justify-items-end {
      justify-items: end;
    }
    .sm-justify-start {
      justify-content: flex-start;
    }
    .sm-justify-around {
      justify-content: space-around;
    }
    .sm-justify-items-center {
      justify-items: center;
    }
    .sm-flex-grow {
      flex-grow: initial;
    }
    .sm-flex-row {
      flex-direction: row;
    }
    .sm-justify-evenly {
      justify-content: space-evenly;
    }
    .sm-flex-col {
      flex-direction: column;
    }

    / ---------Background-------------- */

.sm-bg-purple {
  background-color: purple;
}
/---------Height and Width----------/ .sm-h-60 {
  height: 15rem;
}
.sm-h-20 {
  height: 5rem; /* 64px /
    }
    .sm-h-auto {
      height: 3vh;
    }
    .sm-w-20 {
      width: 15vw;
    }

    .sm-w-full {
      width: 100%;
    }

    .sm-w-20 {
      width: 19rem;
    }
    / --------------Marging------------ /
    .sm-margin {
      margin: 32px auto 0 0;
    }
    .sm-ml-8 {
      margin-left: 2rem;
    }

    .sm-mr-8 {
      margin-right: 2rem;
    }

    .sm-m-0 {
      margin: 0px;
    }

    .sm-mt-12 {
      margin-top: 3rem;
    }

    .sm-mb-4 {
      margin-bottom: 2rem;
    }

    / --------------Padding------------- /

    .sm-pt-4 {
      padding-top: 1.5rem;
    }

    .sm-p-0 {
      padding: 0px;
    }

    .sm-height {
      min-height: 100vh;
    }
    / .sm-pb-1 {
      padding-bottom: 0.5rem;
    } */
}
